@font-face {
    font-family: "Open Sans";
    src: url(resources/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "Quicksand";
    src: url(resources/fonts/Quicksand-Regular.ttf);
}


:root {
    --bg-color: #ebd9c0;
    --title-color: #000000;
    --border-color: #000000;
    --link-color: #000000;
    --text-color: #000000;
    --card-color: #ebd9c0;
    --big-font: "Quicksand";
    --small-font: "Open Sans"
}

html, body {
    margin: 0;
    height: 100%;
    width:100%;
    background-color:var(--bg-color);
}

::-moz-selection {
    color: var(--title-color);
    background: var(--bg-color);
  }
::selection {
    color: var(--title-color);
    background: var(--bg-color);
}

h1 { 
    color:var(--title-color);
    font-family: var(--big-font);
    text-align: center;
}
h2 { 
    color:var(--title-color);
    font-family: var(--big-font);
    text-align: center;
}

p {
    color:var(--text-color);
    font-family: var(--small-font);
    margin-left: 40px;
    margin-right: 40px;
}

a {
    color:var(--link-color);
    font-family: var(--small-font);
    text-decoration: none;
}


.card{
    background-color: var(--card-color);
}

.homepage-bar {
    width:25%;
    min-width:400px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.homepage-bar a {
    width: 40px;
    margin: 20px;
    padding: 12px 0;
    transition: all 0.4s ease;
    color: var(--text-color);
    font-size: 25px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar li{
    float: left;
}
.navbar li a{
    display: block;
    color: var(--title-color);
    font-family: var(--big-font);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.contentbox{
    margin:40px;
    min-height: 75%;
}

.invisible {background:transparent; border:none; color:transparent;}

.upper_left {
	position: absolute;
	top: 1%;
	left: 1%;
}
.upper_right {
	position: absolute;
	top: 1%;
	right: 1%;
}
.lower_left {
	position: absolute;
	bottom: 1%;
	left: 1%;
}
.lower_right {
	bottom: 1%;
	right: 1%;
	position: absolute;
}
.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-horizontal {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
  }

.footer{
    font-size: smaller;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 1px;
    background-color: --bg-color;
    padding: 2rem;
}

.grid-item {
    background-color: var(--bg-color);
    text-align: center;
    padding:0.5rem;
}

.grid-tall {
    grid-row: span 2 / auto;
}

.grid-wide {
    grid-column: span 2 / auto;
}



.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    height: 100%;
    width: 100%;
    object-fit: contain
}


.loader {
    --border-width: 5px;
    
    height: 150px;
    width: 150px;
    border-radius: 50%;
    
    --mask: radial-gradient(
      farthest-side, 
      transparent calc(100% - var(--border-width) - 0.5px), 
      #000 calc(100% - var(--border-width) + 0.5px)
    );
    
    -webkit-mask: var(--mask);
            mask: var(--mask); 
    background: linear-gradient(#aaa 30%, transparent 80%) 0 0/50% 100% no-repeat;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }