:root{
    --bg-color: #282828;
    --fg-color: #ebdbb2;
}
html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: var(--fg-color);
    background-color: var(--bg-color);
    /* Change this to your desired background color */
}

a {
    color: var(--fg-color);
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    opacity: 0.7;
    transition: all .4s ease;
}

.color-svg {
    filter: invert(83%) sepia(28%) saturate(309%) hue-rotate(356deg) brightness(107%) contrast(84%);
}
.color-svg-drop-shadow {
    filter: invert(83%) sepia(28%) saturate(309%) hue-rotate(356deg) brightness(107%) contrast(84%) drop-shadow(0px 0px 10px rgb(0 0 0 / 0.7)); 
}

.top-bar {
    z-index: 3;
    background-color: var(--bg-color);
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 70px;
    padding: 10px;
    box-shadow: 0px 2px 35px 0px rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    overflow-y: hidden;
}

.bottom-bar {
    background-color: var(--bg-color);
    z-index: 2;
    height: 50px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 35px 0px rgba(0, 0, 0, 0.7);
    white-space: nowrap;
}

.content {
    z-index: 1;
    padding-bottom: 90px;
    padding-top: 70px;
}

.left-content {
    display: flex;
    align-items: center;
}

.left-content a {
    padding: 10px;
}

.icon {
    filter: invert(83%) sepia(28%) saturate(309%) hue-rotate(356deg) brightness(107%) contrast(84%);
    width: 50px;
    height: 50px;
    margin-right: 10px;
    padding-right: 20px;
    border-right: 1px solid #fff;
}

.social-links {
    display: flex;
}

.social-links a {
    color: var(--fg-color);
    margin-left: 10px;
    text-decoration: none;
}

#terminal-input {
    width:100ch;
    overflow: hidden;
    background-color: transparent;
    color: var(--fg-color);
    border: none; 
    outline: none;
    font-family: inherit; 
    display: inline-block;
    vertical-align: middle;
}

.pagecontent-container {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.pagecontent {
    width: 1000px;
    background-color: #3c3836;
    border-radius: 20px;
    position:relative
}

::selection {
    color: var(--bg-color);
    background: var(--fg-color);
}

::-moz-selection {
    color: var(--bg-color);
    background: var(--fg-color);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--fg-color); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: var(--fg-color); 
}