:root {
    --bg-color:#1a2026;
    --title-color: #ffffff;
    --text-color:#e2e2e2;
    --card-color: #1fd1ed;
    --border-color:#000000;
    --link-color: #ff0000;
    --svg-icon-color:#ffffff
}

.imagelist{
    border-top: 10px;
}

.imagelist a {
    border:40px;

}
.imagelist a img{
    width: 500px;
    
}