---
layout: aframe_page
title: Dall-E 2 Gallery
description: Dall-E 2 AI art gallery
date: 2022-08-06 00:00:00 -0500
draft: true
---
<script src="/libs/aframe/aframe-extras.min.js"></script>
<script src="/libs/aframe/aframe-lightmap.js"></script>
<script src="/libs/aframe/aframe-teleport-controls.min.js"></script>

<script src="/assets/js/aframe-components/paintings.js"></script>
<script src="/assets/js/aframe-components/hide-hallway.js"></script>

<a-scene embedded renderer="colorManagement: true;">
    <a-assets>
        <a-asset-item id="room" src="/assets/models/room.glb"></a-asset-item>
        <a-asset-item id="paintings" src="/assets/models/paintings.glb"></a-asset-item>
        <a-asset-item id="navmesh" src="/assets/models/gallery_navmesh.glb"></a-asset-item>

        <img id="lightmap_floor" src="/assets/textures/Gallery/FloorLightMap.png">
        <img id="lightmap_hallway" src="/assets/textures/Gallery/HallwayLightmap.png">
        <img id="lightmap_pillars" src="/assets/textures/Gallery/PillarsLightMap.png">
        <img id="lightmap_walls" src="/assets/textures/Gallery/WallsLightmap.png">
        <img id="lightmap_paintings" src="/assets/textures/Gallery/PaintingsLightMap.png">

        {% for i in (1..36) %}
            <img id="painting{{i}}" src="/assets/images/dalle_gallery/{{i}}.jpg"> 
        {% endfor %}
    </a-assets>

    {% for i in (0..2) %}
        <a-entity gltf-model="#room" 
        lightmap__floor="texture: #lightmap_floor; key: Floor"
        lightmap__hallway="texture: #lightmap_hallway; key: Hallway"
        lightmap__pillars="texture: #lightmap_pillars; key: Pillars"
        lightmap__walls="texture: #lightmap_walls; key: Walls"
        room-materials="floor_albedo:#floor_albedo" position="0 0 {{i | times: 14}}"
        {% if i==2 %}
        hide-hallway
        {%endif%}
        ></a-entity>
    {% endfor %}

    {% for i in (0..2) %}
    {% assign offset = i | times: 12 %}
    <a-entity gltf-model="#paintings"
    paintings="{% for p in (1..12) %}{% assign index = p | plus: offset %}
    painting{{p}}:#painting{{index}};{% endfor %}lightmap:#lightmap_paintings;"
    position = "0 0 {{i | times: 14}}"></a-entity>
    {%endfor%}

    <a-entity gltf-model="#navmesh" nav-mesh visible="false" class="collidable"></a-entity>

    <a-entity id="cameraRig" rotation="0 180 0" movement-controls="constrainToNavMesh:true;controls:keyboard,touch">
        <a-entity id="head" camera="active: true" look-controls="pointerLockEnabled:true;" position="0 1.6 0"></a-entity>
        <a-entity oculus-touch-controls="hand: left" teleport-controls="button: trigger; collisionEntities: .collidable; cameraRig: #cameraRig; teleportOrigin: #head;"></a-entity>
        <a-entity oculus-touch-controls="hand: right" teleport-controls="button: trigger; collisionEntities: .collidable; cameraRig: #cameraRig; teleportOrigin: #head;"></a-entity>
    </a-entity>

    <!---    
        <a-entity id="leftHand" hand-tracking-controls="hand: left;"></a-entity>
        <a-entity id="rightHand" hand-tracking-controls="hand: right;"></a-entity>
    --->

    <a-sky color="#f0f8ff"></a-sky>
</a-scene>
<script type="application/json" id="descriptions">
    {{ site.data.gallery_descriptions | jsonify }}
</script>
<script>
    
    const descriptions = JSON.parse(document.getElementById('descriptions').innerHTML);

    const scene = document.querySelector("a-scene");
    for(let room=0;room<3;room++){
        for(let face=0;face<4;face++){
            for(let i=0;i<3;i++){
                let index = room*12+face*3+i;
                let entity = document.createElement("a-entity");
                entity.setAttribute("geometry",{
                    primitive:"plane",
                    height:"0.45",
                    width:"1.1"
                });
                entity.setAttribute("material",{
                    "color":"#404040"
                });
                entity.setAttribute("text",{
                    value:descriptions[index],
                    align:"center",
                    color:"#ffffff",
                    width:1
                });
                let x = -5.49;
                let y = 2+i*-2;
                let final_offset = 14*room;
                let final_x,final_y;
                switch(face){
                    case 0:{final_x=x;final_y=y;break;}
                    case 1:{final_x=-y;final_y=x;break;}
                    case 2:{final_x=-x;final_y=-y;break;}
                    case 3:{final_x=y;final_y=-x;break;}
                }
                final_y+=final_offset;
                rotation = 90 + face*-90;
                
                entity.setAttribute("position",final_x.toString()+" 0.5 "+final_y.toString());
                entity.setAttribute("rotation","0 " + rotation.toString()+ " 0");
                scene.appendChild(entity);
            }
        }
    }
</script>