{% assign size = page.categories | size %}
{% assign first = page.categories | first %}
<style>
    .image-gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 40px;
        padding-top: 0px;
    }
    
    .image-gallery li {
        flex-grow: 1;
        height: 40vh;
        cursor: pointer;
        list-style-type: none;
    }

    .image-gallery li:last-child{
        flex-grow: 10;
    }

    .image-gallery li img {
        object-fit: cover;
        min-width: 100%;
        max-height: 100%;
        vertical-align: bottom;
        border-radius: 5px;
    }

    .image-gallery li img:hover {
        opacity: 0.7;
        transition: all .4s ease;
    }

    @media (max-aspect-ratio: 1/1) {
        li {
            height: 30vh;
        }
    }


    @media (max-height: 480px) {
    li {
        height: 80vh;
    }
    }

    @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    ul {
        flex-direction: row;
    }

    li {
        height: auto;
        width: 100%;
    }
    img {
        width: 100%;
        max-height: 75vh;
        min-width: 0;
    }
    }
</style>
{% if size > 1 %}
<style>
    .view-box {
        display: flex;
        justify-content: center;
        width: fit-content;
        align-items: center;
        border: 1px solid var(--fg-color);
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
    }

    .view-box>div {
        padding: 10px;
        border-right: 1px solid var(--fg-color);
    }

    .view-box>div:last-child {
        border-right: none;
    }

    .view-box>div.active {
        background-color: var(--fg-color);
        color: var(--bg-color)
    }
</style>
<div style="display: flex;justify-content: center;">
    <div class="view-box">
        {% for category in page.categories %}
        <div class="view-button" id="{{category.tag}}" onclick="showGallery('{{category.tag}}')"> {{category.title}}
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% for category in page.categories %}
<ul class="image-gallery" id="{{category.tag}}">
    {% assign images = site.static_files | where: category.tag, true | reverse %}
    {% for image in images %}
    <li>
        <img src="{{image.path}}" loading="lazy" onclick="openImageModal('{{image.path}}')">
    </li>
    {% endfor %}
</ul>
{% endfor %}

{% if size > 1 %}
<script>
    function showGallery(id) {
        const galleries = document.getElementsByClassName('image-gallery');
        for (let i = 0; i < galleries.length; i++) {
            if (galleries[i].id === id) {
                galleries[i].style.display = 'flex';
            } else {
                galleries[i].style.display = 'none';
            }
        }
        const viewsButtons = document.getElementsByClassName("view-button");
        for (let i = 0; i < viewsButtons.length; i++) {
            viewsButtons[i].classList.remove('active');
            if (viewsButtons[i].id === id) {
                viewsButtons[i].classList.add("active")
            }
        }
    }

    showGallery("{{ first.tag }}")
</script>
{%endif%}

{% include image_modal.html %}