<style>
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar li{
    float: left;
}
.navbar li a{
    display: block;
    color: var(--title-color);
    font-family: var(--big-font);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
</style>
<ul class="navbar">
  <li><a href="/index.html">Home</a></li>
  <li><a href="/contents.html">Contents</a></li>

  <li style="float:right;width:50px;"><a href="/links.html"><img src="/assets/svg/more.svg"></a></li>
  <li style="float:right;width:50px;"><a href="{{site.data.links.Dev.Github.url}}"><img src="{{site.data.links.Dev.Github.icon}}"></a></li>
  <li style="float:right;width:50px;"><a href="{{site.data.links.Social.Twitter.url}}"><img src="{{site.data.links.Social.Twitter.icon}}"></a></li>
</ul>
