---
layout: page
title: Links
description: Links to my various stuff
links:
    Social:
        Twitter:
            url: "https://twitter.com/emymin1"
            icon: "/assets/svg/sites/twitter.svg"
        Mastodon:
            url: "https://mastodon.social/@emymin"
            icon: "/assets/svg/sites/mastodon.svg"
        Bluesky:
            url: "https://bsky.app/profile/emymin.bsky.social"
            icon: "/assets/svg/sites/bluesky.svg"
        Youtube:
            url: "https://www.youtube.com/channel/UCXin7mNmukBobwP5KlIG6Ag"
            icon: "/assets/svg/sites/youtube.svg"
        Peertube:
            url: "https://peertube.tv/a/emymin/video-channels"
            icon: "/assets/svg/sites/peertube.svg"
        Pixiv:
            url: "https://www.pixiv.net/en/users/39375749"
            icon: "/assets/svg/sites/pixiv.svg"
    Dev:
        Github:
            url: "https://www.github.com/emymin"
            icon: "/assets/svg/sites/github.svg"
        Booth:
            url: "https://emymin.booth.pm/"
            icon: "/assets/svg/sites/booth.svg"
    Chat:
        Discord:
            url: "https://discord.gg/5rSDksd2zY"
            icon: "/assets/svg/sites/discord.svg"
            subtitle: "Emy's Voices (Discord server)"
        Matrix:
            url: ""
            icon: "/assets/svg/sites/matrix.svg"
            subtitle: "@emymin:matrix.org"
        VRChat:
            url: "https://vrchat.com/home/user/usr_a9bf892d-b447-47ce-a572-20c83dbfffd8"
            icon: "/assets/svg/sites/vrchat.svg"
        NeosVR:
            url: "https://api.neos.com/api/users/U-emymin"
            icon: "/assets/svg/sites/neosvr.svg"

---
<style>
.links-container{
text-align: center;
margin-top: 100px; 
}
.linkcard {
display:inline-block;
text-align: center;
margin:20px;
}
.linkcard p{
text-align: center;
margin-top: 10px;
}
.linkcard a img{
width: 100px;
height:100px;
}
</style>
<div class="links-container">
    {% for category in page.links %}
    <h1>{{category[0]}}</h1>
    {% for link in category[1] %}
    <div class="linkcard"><a {% if link[1].url !="" %}href={{link[1].url}} target="_blank"{% endif %}><img src={{link[1].icon}} class="color-svg-drop-shadow"></a>
        <p>{{link[0]}}<br>{{link[1].subtitle}}</p>
    </div>
    {% endfor %}
    {% endfor %}
</div>