---
layout: page
title: Links
description: Links to my various stuff
links:
    Social:
        Twitter:
            url: "https://twitter.com/emymin1"
            icon: "/assets/svg/sites/twitter.svg"
        Misskey:
            url: "https://misskey.emymin.net/@emymin"
            icon: "/assets/svg/sites/misskey.svg"
        Bluesky:
            url: "https://bsky.app/profile/emymin.net"
            icon: "/assets/svg/sites/bluesky.svg"
        Youtube:
            url: "https://www.youtube.com/channel/UCXin7mNmukBobwP5KlIG6Ag"
            icon: "/assets/svg/sites/youtube.svg"
        Peertube:
            url: "https://peertube.tv/a/emymin/video-channels"
            icon: "/assets/svg/sites/peertube.svg"
        Pixiv:
            url: "https://www.pixiv.net/en/users/39375749"
            icon: "/assets/svg/sites/pixiv.svg"
    Dev:
        Github:
            url: "https://www.github.com/emymin"
            icon: "/assets/svg/sites/github.svg"
        Booth:
            url: "https://emymin.booth.pm/"
            icon: "/assets/svg/sites/booth.svg"
        Patreon:
            url: "https://patreon.com/Emymin"
            icon: "/assets/svg/sites/patreon.svg"
    Chat:
        Discord:
            url: "https://discord.gg/5rSDksd2zY"
            icon: "/assets/svg/sites/discord.svg"
            subtitle: "Emy's Voices"
        Matrix:
            url: ""
            icon: "/assets/svg/sites/matrix.svg"
            subtitle: "@emymin:matrix.org"
        VRChat:
            url: "https://vrchat.com/home/user/usr_a9bf892d-b447-47ce-a572-20c83dbfffd8"
            icon: "/assets/svg/sites/vrchat.svg"
        Resonite:
            url: "https://api.resonite.com/users/U-emymin"
            icon: "/assets/svg/sites/resonite.svg"

---
<style>
    .sections-container{
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        align-items: center;
        text-align: center;
    }
    .links-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding-left: 0;
    }
    .linkcard {
        margin:20px;
    }
    .linkcard p{
        margin-top: 10px;
    }
    .linkcard a img{
        width: 100px;
        height:100px;
    }
</style>
<div class="sections-container">
    {% for category in page.links %}
    <section>
        <h2>{{category[0]}}</h2>
        <ul class="links-container">
            {% for link in category[1] %}
            <li class="linkcard"><a {% if link[1].url !="" %}href={{link[1].url}} target="_blank"{% endif %}><img src={{link[1].icon}} class="color-svg-drop-shadow" alt="{{link[0]}}"></a>
                <p>{{link[0]}}<br>{{link[1].subtitle}}</p>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endfor %}
</div>