---
layout: page
title: Cool Websites and Links
description: Links to websites I think are COOL or USEFUL
categories:
    - title: Art
      items:
        - title: Eyecandy
          description: Visual Technique Library
          url: https://eycndy.co/
        - title: C82
          description: Digital Art
          url: https://c82.net
        - title: Randoma11y
          description: Get random, accessible color combinations and train the robots by voting.
          url: https://randoma11y.com/    
        - title: Art Collections
          description: High Quality Collections of Digitized Art and Archival Finds
          url: https://simonsarris.com/art-collections
        - title: Mecabricks
          description: Build & Render your 3D LEGO® models online
          url: https://www.mecabricks.com/
        - title: ies library
          description: Make better renders with real-world lighting
          url: https://ieslibrary.com
        - title: Emoji Kitchen
          description: Unique illustrations of combined emoji, cooked up in Google's Emoji Kitchen, and comprehensively available on the web
          url: https://emojikitchen.dev/
        - title: Cameron's World
          description: A love letter to the Internet of old      
          url: https://www.cameronsworld.net/
        - title: Poly Haven
          description: The Public 3D Asset Library
          url: https://polyhaven.com/
        - title: WWWTXT
          description: WWWTXT digs deep and resurrects the voices of digital pioneers as unedited, compelling, and insightful 140-character excerpts.
          url: https://wwwtxt.org
        - title: Shadertoy
          description: Build and Share your best shaders with the world and get Inspired
          url: https://www.shadertoy.com/
        - title: IOR List
          description: Index of Refraction values (IOR) 
          url: https://pixelandpoly.com/ior.html
        - title: Suricrasia Online
          description: Suricrasia Online is a Toronto-based ISP staffed entirely by anthropomorphic sharks in maid outfits.
          url: https://suricrasia.online/
        - title: allRGB
          description: The objective of allRGB is simple, to create images with one pixel for every RGB color (16,777,216) not one color missing, and not one color twice.
          url: https://allrgb.com/
    - title: Tech
      items:
        - title: Hundred Rabbits
          description: Hundred Rabbits is a small artist collective. Together, we explore the planned failability of modern technology at the bounds of the hyper-connected world
          url: https://100r.co    
        - title: WASM4
          description: Build retro games using WebAssembly for a fantasy console
          url: https://wasm4.org/
        - title: Archive Team
          description: History is our future, and we've been trashing our history
          url: https://archiveteam.org
        - title: Easing Functions Cheat Sheet
          description: Easing functions specify the rate of change of a parameter over time.
          url: https://easings.net/
        - title: permacomputing
          description: Permacomputing is both a concept and a community of practice oriented around issues of resilience and regenerativity in computer and network technology inspired by permaculture.
          url: https://permacomputing.net/
        - title: Fediverse.party
          description: Explore Federated Networks
          url: https://fediverse.party/
        - title: Nitter
          description: Nitter is a free and open source alternative Twitter front-end focused on privacy and performance
          url: https://nitter.net
        - title: BTDigg
          description: BTDigg is the BitTorrent DHT search engine.
          url: https://btdig.com
        - title: PCjs Machines
          description: Home of the original IBM PC emulator for browsers
          url: https://www.pcjs.org/
    - title: VR
      items:
        - title: VRChatの世界
          description: VRChat内で訪れることが出来るワールドをご紹介
          url: https://www.vrcw.net/
        - title: VRCList
          description: VRChat World List
          url: https://vrclist.com/
        - title: VRCLibrary
          description: A wiki for VRChat creators to learn, share and collaborate.
          url: https://vrclibrary.com
        - title: NeosLove
          description: Welcome to the metaverse
          url: http://neos.love/
        - title: VRC Prefabs
          description: VRC Prefabs is a VRChat community that has focus on helping and sharing with others.
          url: https://vrcprefabs.com/
    - title: Game
      items:
        - title: E.B.O.N.Y
          description: The Weirdest Riddle Game On The Internet
          url: https://www.ebonyriddle.com/
    - title: Personal
      items:
        - title: Scarecrowkid
          description: Welcome to my sunflower field! We're at a simple farm off the beaten path of the Internet, filled with all the things I like and hope to grow. 
          url: https://scarecrowkid.net
        - title: Oimo.io
          description: I make something. 何か作ってます。触って楽しいものが好き。
          url: https://oimo.io/
        - title: Imaginantia
          description: 思ったことを書きます
          url: https://phi16.hatenablog.com/
    - title: Misc
      items:
        - title: itazuraneko
          description: Japanese Learning Resources
          url: https://itazuraneko.neocities.org/
        - title: Six Degrees Of Wikipedia
          description: Six Degrees of Wikipedia traverses hyperlinks on Wikipedia to find the least number of clicks it takes to navigate between any of the nearly six million pages on the world's largest free online encyclopedia.
          url: https://www.sixdegreesofwikipedia.com/
        - title: Shepherd
          description: Discover the best books
          url: https://shepherd.com/
        - title: Apollo in real time
          description: A real-time journey through the Apollo missions
          url: https://apolloinrealtime.org/
        - title: Internet Archive
          description:  Internet Archive is a non-profit library of millions of free books, movies, software, music, websites, and more. 
          url: https://archive.org/
        - title: Neocities
          description: Neocities is a social network of 605,400 web sites that are bringing back the lost individual creativity of the web
          url: https://neocities.org
        - title: Library Genesis
          description: Library Genesis is a file-sharing based shadow library website for scholarly journal articles, academic and general-interest books, images, comics, audiobooks, and magazines. 
          url: http://libgen.is/
        - title: IcebergCharts
          description: Iceberg Charts are an information format in which things that are well known are put at the top and the truly obscure at the bottom. 
          url: https://icebergcharts.com/
        - title: KeyOxide
          description: Verifying online identity with cryptography.
          url: https://keyoxide.org/
    - title: List
      items:
        - title: Whitedesert
          description: A collection of surrealism and horror
          url: https://whitedesert.neocities.org/
        - title: The Whimsical Web
          description: A curated list of sites with an extra bit of fun.
          url: https://whimsical.club/
        - title: Terra
          description: Cool sites, straight from earth
          url: https://terra.finzdani.net/
        - title: Moonjump
          description: Moonjump is a server that redirects you to a random page harvested from the arcane depths of the web.
          url: https://moonjump.app/    
---

<div class="pagecontent-container">
    <div class="pagecontent">
        {% include corners.html %}
        <div style="padding: 80px;">
            {% for category in page.categories %}
            <h2 style="font-size: 50px;">{{category.title}}</h2>
            <div style="display: flex; flex-wrap: wrap;">
                {% for item in category.items %}
                <div style="display: flex;flex-direction: column; padding: 20px;">
                    <a href="{{item.url}}" style="font-size: 20px;" target="_blank">{{item.title}}</a>
                    <p>{{item.description}}</p>
                </div>
                {% endfor %}
            </div>
            {% endfor %}

        </div>

    </div>
</div>
