---
layout: page
title: Cool Websites and Links
description: Links to websites I think are COOL or USEFUL
categories:
    - title: Art
      items:
        - title: Poly Haven
          description: The Public 3D Asset Library
          url: https://polyhaven.com/
        - title: Shadertoy
          description: Build and Share your best shaders with the world and get Inspired
          url: https://www.shadertoy.com/
        - title: Eyecandy
          description: Visual Technique Library
          url: https://eycndy.co/
        - title: Art Collections
          description: High Quality Collections of Digitized Art and Archival Finds
          url: https://simonsarris.com/art-collections
        - title: Randoma11y
          description: Get random, accessible color combinations and train the robots by voting.
          url: https://randoma11y.com/    
        - title: Mecabricks
          description: Build & Render your 3D LEGO® models online
          url: https://www.mecabricks.com/
        - title: pouët.net
          description: your online demoscene resource
          url: https://www.pouët.net  
        - title: ies library
          description: Make better renders with real-world lighting
          url: https://ieslibrary.com
        - title: dwitter.net
          description: Dwitter.net is a challenge to see what awesomeness you can create when limited to only 140 characters of javascript and a canvas. Give it a go! 
          url: https://www.dwitter.net/
        - title: the html review
          description: the html review is an annual journal of literature made to exist on the web. 
          url: https://thehtml.review/
        - title: Emoji Kitchen
          description: Unique illustrations of combined emoji, cooked up in Google's Emoji Kitchen, and comprehensively available on the web
          url: https://emojikitchen.dev/
        - title: Cameron's World
          description: A love letter to the Internet of old      
          url: https://www.cameronsworld.net/
        - title: WWWTXT
          description: WWWTXT digs deep and resurrects the voices of digital pioneers as unedited, compelling, and insightful 140-character excerpts.
          url: https://wwwtxt.org
        - title: IOR List
          description: Index of Refraction values (IOR) 
          url: https://pixelandpoly.com/ior.html
        - title: Suricrasia Online
          description: Suricrasia Online is a Toronto-based ISP staffed entirely by anthropomorphic sharks in maid outfits.
          url: https://suricrasia.online/
        - title: CSS Zen Garden
          description: The Beauty of CSS Design
          url: https://www.csszengarden.com/
        - title: allRGB
          description: The objective of allRGB is simple, to create images with one pixel for every RGB color (16,777,216) not one color missing, and not one color twice.
          url: https://allrgb.com/
        - title: Superbad
          description: Welcome to my Home Page on the WWW.
          url: http://www.superbad.com/
        - title: Chip Player JS
          description: Web-based music player for a variety of video game and chiptune music formats. 
          url: https://chiptune.app/
        - title: noclip.website
          description: A digital museum of video game levels.
          url: https://noclip.website/
        - title: Physically Based
          description: A database of physically based values for CG artists
          url: https://physicallybased.info
        - title: Coolors
          description: The super fast color palettes generator
          url: https://coolors.co/
        - title: Big Box Collection
          description: Remember when video games game in big boxes?
          url: https://bigboxcollection.com
        - title: The Zoomquilt
          description: A collaborative infinitely zooming painting
          url: https://zoomquilt.org/
        - title: Same Energy
          description: Visual Search Engine
          url: https://bigboxcollection.com
        - title: Winamp Skin Museum
          description: Infinite scroll through 80k Winamp skins with interactive preview
          url: https://skins.webamp.org/
        - title: Canvas Cycle
          description: See the original versions of Mark Ferrari's worlds in their full glory!
          url: http://www.effectgames.com/demos/canvascycle/
        - title: World of Pixels
          description: Our World of Pixels is an art-based sandbox game where players can draw on and explore a giant communal canvas
          url: https://ourworldofpixels.com/
        - title: Don't You Lecture Me With Your Thirty Dollar Website
          description: Meme Sound Sequencer
          url: https://thirtydollar.website/
        - title: Cardinal
          description: Virtual Modular Synthesizer
          url: https://cardinal.kx.studio/
        - title: Inkarnate
          description: Turn your ideas into incredible fantasy maps
          url: https://inkarnate.com/
        - title: A Number From the Ghost
          description: Virtual worlds for listening to music
          url: https://www.anumberfromtheghost.com/
        - title: NIPPON COLORS
          description: The Traditional Colors of Nippon (Japan).
          url: https://nipponcolors.com
        - title: (we)bsite
          description: (we)bsite is a living collection of internet dreams from people like you, inhabitants of the internet.
          url: https://we-b.site/
        - title: MyRetroTVs
          description: Channel-surf the past now
          url: https://www.myretrotvs.com/
        - title: 2Bit
          description: A website about 2Bit stuff
          url: https://2bit.neocities.org/
        - title: the end of town
          description: (scroll down)
          url: https://town.neocities.org/
        - title: RaveDJ
          description: Looking for a mix for the gym or a party? Want to create mashups of your favourite songs? Mix and mashup your favorite songs and playlists from YouTube and Spotify for free using the world's first artificial intelligence DJ.
          url: https://rave.dj/
        - title: ASCIIFlow
          description: Infinite ASCII diagrams, save to Google Drive, resize, freeform draw, and export straight to text/html.
          url: https://asciiflow.com
        - title: Every Noise at Once
          description: Every Noise at Once is an ongoing attempt at an algorithmically-generated, readability-adjusted scatter-plot of the musical genre-space, based on data tracked and analyzed for 6,274 genre-shaped distinctions by Spotify
          url: https://everynoise.com/
        - title: Radio Garden
          description: Explore live radio by rotating the globe.
          url: http://radio.garden
        - title: Nano Gems
          description: A curated selection of the best tiny intros from the demoscene
          url: https://nanogems.demozoo.org/
    - title: Tech
      items:
        - title: Tildeverse
          description: we're a loose association of like-minded tilde communities. 
          url: https://tildeverse.org/
        - title: SDF Public Access UNIX System
          description: a community platform for inspiring, facilitating and implementing new ideas
          url: https://sdf.org/
        - title: Hundred Rabbits
          description: Hundred Rabbits is a small artist collective. Together, we explore the planned failability of modern technology at the bounds of the hyper-connected world
          url: https://100r.co    
        - title: Archive Team
          description: History is our future, and we've been trashing our history
          url: https://archiveteam.org
        - title: The Eye
          description: The Eye is a website dedicated towards archiving and serving publicly available information.
          url: https://the-eye.eu/
        - title: Easing Functions Cheat Sheet
          description: Easing functions specify the rate of change of a parameter over time.
          url: https://easings.net/
        - title: permacomputing
          description: Permacomputing is both a concept and a community of practice oriented around issues of resilience and regenerativity in computer and network technology inspired by permaculture.
          url: https://permacomputing.net/
        - title: Fediverse.party
          description: Explore Federated Networks
          url: https://fediverse.party/
        - title: Fedifinder
          description: Join the Fediverse in 5 easy steps
          url: https://fedifinder.glitch.me/
        - title: FediDB
          description: Fediverse Network Statistics
          url: https://fedidb.org/
        - title: Nitter
          description: Nitter is a free and open source alternative Twitter front-end focused on privacy and performance
          url: https://nitter.net
        - title: BTDigg
          description: BTDigg is the BitTorrent DHT search engine.
          url: https://btdig.com
        - title: PCjs Machines
          description: Home of the original IBM PC emulator for browsers
          url: https://www.pcjs.org/
        - title: v86
          description: v86 is a x86 emulator for the browser.
          url: https://copy.sh/v86/
        - title: KeyOxide
          description: Verifying online identity with cryptography.
          url: https://keyoxide.org/
        - title: AssetBundleStat
          description: A WinDirStat-like online Unity asset bundle inspector
          url: https://vsk.lox9973.com/abstat/
        - title: ffmprovisr
          description: Making FFmpeg Easier
          url: https://amiaopensource.github.io/ffmprovisr
        - title: GTFOBins
          description: GTFOBins is a curated list of Unix binaries that can be used to bypass local security restrictions in misconfigured systems.
          url: https://gtfobins.github.io/
        - title: VirusTotal
          description: Analyse suspicious files, domains, IPs and URLs to detect malware and other breaches, automatically share them with the security community
          url: https://www.virustotal.com
        - title: Shodan
          description: Search Engine for the Internet of Everything 
          url: https://www.shodan.io/
        - title: Project Gemini
          description: Gemini is a new internet technology supporting an electronic library of interconnected text documents
          url: https://gemini.circumlunar.space/
        - title: Project Euler
          description: Project Euler is a series of challenging mathematical/computer programming problems that will require more than just mathematical insights to solve. 
          url: https://projecteuler.net/
        - title: The Restart Page
          description: Free unlimited rebooting experience from vintage operating systems
          url: http://www.therestartpage.com/
        - title: Flightradar24
          description: Flightradar24 is the best live flight tracker that shows air traffic in real time. Best coverage and cool features!
          url: https://www.flightradar24.com
        - title: Lean X in Y minutes
          description: Take a whirlwind tour of your next favorite language. Community-driven!
          url: https://learnxinyminutes.com/
    - title: VR
      items:
        - title: VRChatの世界
          description: VRChat内で訪れることが出来るワールドをご紹介
          url: https://www.vrcw.net/
        - title: VRCList
          description: VRChat World List
          url: https://vrclist.com/
        - title: VRCLibrary
          description: A wiki for VRChat creators to learn, share and collaborate.
          url: https://vrclibrary.com
        - title: NeosLove
          description: Welcome to the metaverse
          url: http://neos.love/
        - title: Avatar Network
          description: Avatar Networkは、BOOTHの3Dモデル（アバターやアイテム）を、対応アイテムや対応アバターがあるか？
          url: http://avatar-network.herokuapp.com
        - title: VRC Prefabs
          description: VRC Prefabs is a VRChat community that has focus on helping and sharing with others.
          url: https://vrcprefabs.com/
        - title: VRChat API Docs
          description: Here you'll find Community-created documentation about the VRChat REST API, an OpenAPI specification, and generated SDK's in several languages.
          url: https://vrchatapi.github.io/
    - title: Game
      items:
        - title: E.B.O.N.Y
          description: The Weirdest Riddle Game On The Internet
          url: https://www.ebonyriddle.com/
        - title: neal.fun
          description: a tiny website by neal
          url: https://neal.fun/
        - title: WASM4
          description: Build (and play) retro games using WebAssembly for a fantasy console
          url: https://wasm4.org/
        - title: SpaceTraders API
          description: A unique multiplayer gamebuilt on a free Web API
          url: https://spacetraders.io/
        - title: Yume Nikki Online Project
          description: Play Yume Nikki and Yume Nikki fangames in multiplayer with your friends, no account or downloads required.
          url: https://ynoproject.net/
        - title: NationStates
          description: NationStates is a nation simulation game. 
          url: https://www.nationstates.net/
        - title: A Dark Room
          description: A Minimalist Text Adventure
          url: https://adarkroom.doublespeakgames.com/
        - title: NotPron
          description: The hardest riddle available on the internet
          url: http://www.notpron.org/notpron/
        - title: NandGame
          description: An educational puzzle game. Solve a series of tasks where you build increasingly powerful components. Starts with the simplest logical components and ends up with a programmable computer.
          url: https://www.nandgame.com/
        - title: Untrusted
          description: A user javascript adventure game
          url: http://alexnisnevich.github.io/untrusted/
        - title: Candy Box 2
          description: You have 5 candies...
          url: https://candybox2.github.io/
    - title: Personal
      items:
        - title: Acko.net
          description: Hackery, Math & Design
          url: https://acko.net/
        - title: Inigo Quilez
          description: Tutorials and articles of Inigo Quilez on computer graphics, fractals, demoscene, shaders and more.
          url: https://iquilezles.org/
        - title: Alan Resnick
          description: alanresnickwebsite
          url: https://alanresnick.info
        - title: Scarecrowkid
          description: Welcome to my sunflower field! We're at a simple farm off the beaten path of the Internet, filled with all the things I like and hope to grow. 
          url: https://scarecrowkid.net
        - title: Oimo.io
          description: I make something. 何か作ってます。触って楽しいものが好き。
          url: https://oimo.io/
        - title: Imaginantia
          description: 思ったことを書きます
          url: https://phi16.hatenablog.com/
        - title: C82
          description: Digital Art
          url: https://c82.net
        - title: Cadnomori
          description: This is a place of wonder and whimsy. Find the many rooms, environments, and secrets that fill this place, and maybe take home or leave a souvenir or two. 
          url: https://cadnomori.neocities.org
        - title: Geouniversal
          description: everywhere is space
          url: https://geouniversal.neocities.org/
        - title: max-bittker
          description: Artist building tools for play, creativity, & communication.
          url: https://maxbittker.github.io/
        - title: dimden's hotel
          description: Welcome to DIMDEN.DEV! This is my little website and blog.
          url: https://dimden.dev/
        - title: Fionn's Hotline Cafe
          description: You've arrived at Pavilion City's most famous cybercafe.
          url: https://hotlinecafe.com/
    - title: Misc
      items:
        - title: itazuraneko
          description: Japanese Learning Resources
          url: https://itazuraneko.neocities.org/
        - title: TheMoeWay
          description: Japanese Learning and Immersion Guides
          url: https://learnjapanese.moe/
        - title: News Web Easy
          description: やさしい日本語で書いたニュース
          url: https://www3.nhk.or.jp/news/easy/
        - title: Wolfram Alpha
          description: Compute expert-level answers using Wolfram's breakthrough algorithms, knowledgebase and AI technology
          url: https://www.wolframalpha.com/
        - title: Effect Index
          description: Effect Index, which is currently under construction, is a resource dedicated to establishing the field of formalised subjective effect documentation. 
          url: https://effectindex.com/
        - title: Internet Archive
          description:  Internet Archive is a non-profit library of millions of free books, movies, software, music, websites, and more. 
          url: https://archive.org/
        - title: Neocities
          description: Neocities is a social network of 605,400 web sites that are bringing back the lost individual creativity of the web
          url: https://neocities.org
        - title: Shepherd
          description: Discover the best books
          url: https://shepherd.com/
        - title: Library Genesis
          description: Library Genesis is a file-sharing based shadow library website for scholarly journal articles, academic and general-interest books, images, comics, audiobooks, and magazines. 
          url: http://libgen.is/
        - title: Six Degrees Of Wikipedia
          description: Six Degrees of Wikipedia traverses hyperlinks on Wikipedia to find the least number of clicks it takes to navigate between any of the nearly six million pages on the world's largest free online encyclopedia.
          url: https://www.sixdegreesofwikipedia.com/
        - title: Windows93
          description: hug + hack = infinity
          url: http://www.windows93.net/
        - title: Apollo in real time
          description: A real-time journey through the Apollo missions
          url: https://apolloinrealtime.org/
        - title: IcebergCharts
          description: Iceberg Charts are an information format in which things that are well known are put at the top and the truly obscure at the bottom. 
          url: https://icebergcharts.com/
        - title: Astronaut
          description: These videos come from YouTube. They were uploaded in the last week and have titles like DSC 1234 and IMG 4321. They have almost zero previous views. 
          url: http://astronaut.io/
        - title: Atlas Obscura
          description: The Definitive Guide to the World's Hidden Wonders
          url: https://www.atlasobscura.com/ 
        - title: Omniglot
          description: The online encyclopedia of writing systems & languages
          url: https://omniglot.com/
        - title: World's Births and Deaths
          description: World Births and Deaths, Simulated in Real-Time 
          url: https://www.worldbirthsanddeaths.com/
        - title: z0r.de
          description: Flash loops collection
          url: https://z0r.de/
        - title: Mini Tokyo 3D
          description: A real-time 3D digital map of Tokyo's public transport system. This data visualization was produced by Akihiko Kusanagi
          url: https://minitokyo3d.com/
        - title: The On-Line Encyclopedia of Integer Sequences
          description: The On-Line Encyclopedia of Integer Sequences is an online database of integer sequences.
          url: https://oeis.org/
        - title: TEXTFILES.COM
          description: A glimpse into the history of writers and artists bound by the 128 characters that the American Standard Code for Information Interchange allowed them
          url: http://textfiles.com/
        - title: BugMeNot
          description: Access and share logins for websites that require you to register in order to view content.
          url: https://bugmenot.com/
    - title: List
      items:
        - title: Whitedesert
          description: A collection of surrealism and horror
          url: https://whitedesert.neocities.org/
        - title: The Whimsical Web
          description: A curated list of sites with an extra bit of fun.
          url: https://whimsical.club/
        - title: Terra
          description: Cool sites, straight from earth
          url: https://terra.finzdani.net/
        - title: Moonjump
          description: Moonjump is a server that redirects you to a random page harvested from the arcane depths of the web.
          url: https://moonjump.app/
        - title: The no-JS Club
          description: Promenade for Javascript freed websites
          url: https://no-js.club/
        - title: Wiby
          description: Search Engine for the Classic Web
          url: https://wiby.me
        - title: PersonalSit.es
          description: This site was built to share and revel in each others' personal sites
          url: https://personalsit.es/
        - title: Marginalia Search
          description: This is an independent DIY search engine that focuses on non-commercial content, and attempts to show you sites you perhaps weren't aware of in favor of the sort of sites you probably already knew existed. 
          url: https://search.marginalia.nu/
        - title: Brutalist Websites
          description: In its ruggedness and lack of concern to look comfortable or easy, Brutalism can be seen as a reaction by a younger generation to the lightness, optimism, and frivolity of today's web design.
          url: https://brutalistwebsites.com/
        - title: The Big List of Personal Websites
          description: It's a big list of personal websites
          url: https://biglist.terraaeon.com/
        - title: 1MB Club
          description: 1MB Club is a growing collection of performance-focused web pages weighing less than 1 megabyte.          
          url: https://1mb.club/
        - title: The Useless Web
          description: The Useless Web... because some websites, we just couldn't do without.
          url: https://theuselessweb.com/
        - title: districts on Neocities
          description: your internet neighbours
          url: https://districts.neocities.org/
        - title: The Garden of Computational Delights
          description: Beneath the utilitarian purpose of computation, computing is also a source of delight and wonder. 
          url: https://arbesman.net/computationaldelights/
---
<div class="pagecontent-container">
  <div class="pagecontent">
      <header style="text-align: center; font-style: italic;">
          <p>This is a list of websites I think are cool, inspiring, pretty, useful or insightful!</p>
          <p>I will be expanding it with new websites I run into every now and then!</p>
      </header>
      {% for category in page.categories %}
      <section>
        <h2 style="font-size: 50px;" id="{{category.title}}">{{category.title}}</h2>
        <table style="width:100%;">
            {% for item in category.items %}
            <tr>
                <td style="padding: 20px;"><a href="{{item.url}}" style="font-size: 20px;" target="_blank">{{item.title}}</a></td>
                <td><p style="font-style: italic;">{{item.description}}</p></td>
            </tr>
            {% endfor %}
        </table>
      </section>
      {% endfor %}
    </div>
</div>
