<!DOCTYPE html>
<html lang="en">

<head>
    {% include headers.html %}
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="top-bar">
        <div class="left-content">
            <a href="/"><img class="icon" src="/assets/svg/lily.svg" alt="Home"></img></a>
            <a href="/blog">Blog</a>
            <a href="/creations">Creations</a>
            <a href="/vr">VR</a>
            <a href="/videos">Videos</a>
            <a href="/misc">Misc</a>
        </div>
        <div class="social-links">
            <a href="https://github.com/emymin" target="_blank"><img class="color-svg" src="/assets/svg/sites/github.svg" alt="Github"></a>
            <a href="https://twitter.com/emymin1" target="_blank"><img class="color-svg" src="/assets/svg/sites/twitter.svg" alt="Twitter"></a>
            <a href="https://misskey.emymin.net/@emymin" target="_blank" rel="me"><img class="color-svg" src="/assets/svg/sites/misskey.svg" alt="Misskey"></a>
            <a href="/links"><img class="color-svg" src="/assets/svg/ellipsis-solid.svg" alt="More"></a>
        </div>
    </div>

    <div class="content">
        {% if page.hide_title!=true %}
            <div style="margin:40px;text-align: center;">
                <h1 class="title">{{page.title}}</h1>
                <img src="/assets/svg/dividers/2.svg" style="width: 200px;" class="color-svg-drop-shadow" alt="------------">
            </div>
        {% endif %}
        {{content}}
    </div>

    <div class="bottom-bar">
        {% assign path_array = page.url | split:"/" %}
        {% assign path_array = path_array | shift%}
        {% assign href_url = "/" %}
        <p style="display: inline-block; vertical-align: middle;">guest@emymin:<a href="/">~</a>{% for dir in path_array %}{% assign href_url = href_url | append:dir | append:"/"  %}<a href="{{href_url}}">/{{dir}}</a>{%endfor%}$</p>
        <input type="text" id="terminal-input" maxlength="100" aria-label="Terminal Prompt">
    </div>

    <script src="/terminal.js"></script>

</body>

</html>