---
layout: page
---
<style>
    .title {
        font-size: 50px;
    }
    .description{
        font-style: italic;
    }
</style>
<div class="pagecontent-container" id="ornament-container">
    <div class="pagecontent">
        {% include corners.html %}
        <div style="text-align: center;">
            <h1 class="title">{{page.title}}</h1>
            <p class="description">{{page.description}}</p>
            <p>{{ page.date | date_to_string }}</p>
            <img src="/assets/svg/dividers/4.svg" style="width: 200px;" class="color-svg-drop-shadow">
        </div>
        <div style="padding: 100px; padding-top:40px">
            {{ content }}
        </div>
    </div>
</div>