---
layout: page
---
<style>
    html {
        overflow-y: scroll;
    }
</style>
<div style="position:relative;text-align:center">
    <canvas id="canvas" style="width:100%;height:30%;"></canvas>
    {% if page.require_interaction == true %}
    <h1 id="interactiontext" style="
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);">Click to Start</h1>
    {%endif%}
</div>
{% include webgl_list.html %}
<script async src="/libs/esmodule/es-module-shims.js"></script>
<script type="importmap">
    {
    "imports": {
     "three": "/libs/three/build/three.module.js"
    }
   }
</script>
<script>
    const canvas = document.getElementById("canvas");
    function resizeCanvas() {
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;
    }
    window.addEventListener('resize', resizeCanvas, false);
    resizeCanvas();
</script>
{{content}}