---
layout: page
title: Renders
description: A bunch of renders I made in Blender
---
<style>
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-gallery img {
  object-fit: cover;
  max-width: 350px;
  height: auto;
  vertical-align: middle;
  border-radius: 10px;
  cursor: pointer;
}

.image-gallery img:hover{
    opacity: 0.7;
    transition: all .4s ease;
}
</style>


<div class="image-gallery">
    {% assign renders = site.static_files | where: "render", true | reverse %}
    {% for render in renders %}
      <img src="{{render.path}}" onclick="openImageModal('{{render.path}}')" loading="lazy"><br>
    {% endfor %}
</div>

{% include image_modal.html %}